<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->


    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Rupa"> </constructor-arg>
        <constructor-arg index="1" value="female"> </constructor-arg>
        <constructor-arg index="2" value="22"></constructor-arg>
    </bean>



    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">
    </bean>



</beans>
